## List Comprehensions

In [2]:
# square numbers

[
    n*n
    for n in range(5)
    
]

[0, 1, 4, 9, 16]

In [4]:
#1. return starts with vowels

names = ["Alice", "Bob", "Christy", "Jules", "Omkar"]


def get_vowels_names( names ):
    return [
        name
        for name in names
        if name[0].lower() in "aeiou"
    ]

get_vowels_names( names )

['Alice', 'Omkar']

In [5]:
# 2 Flatten Matrix:

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]


def flatten( matrix):
    return [
        item
        for row in matrix
        for item in row
    ]

flatten( matrix )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [16]:
# 3 it accepts a string and returns a list of lists of integers 

names = "1 2\n10 20"

# step 1:

print( [ row for row in names.split('\n') ] )

# step 2:

[
    [ int(x) for x in row.split() ]
    for row in names.split('\n')
]

['1 2', '10 20']

[[1, 2], [10, 20]]

In [23]:
# 4 loop through index and elements

num = [78, 700, 82, 16, 2, 3, 9.5]

[ (i,n) for i,n in enumerate( num ) ]

[(0, 78), (1, 700), (2, 82), (3, 16), (4, 2), (5, 3), (6, 9.5)]

In [26]:
# 5 Matrix addition

m1 = [[1, 2], [3, 4]]
m2 = [[5, 6], [7, 8]]

# step 1
print( [ (row1, row2) for row1,row2 in zip(m1, m2 ) ] )


# step 2: output

[
    [n + m for n, m in zip(row1, row2)]
    for row1,row2 in zip(m1, m2 )
]

[([1, 2], [5, 6]), ([3, 4], [7, 8])]

[[6, 8], [10, 12]]

## Generators Expressions

In [7]:
matrix = [[1, 2, 3], [4, 5, 6]]

# summ all

print(  [ n for n in matrix ] )

print()

print( [ n for numbers in matrix
    for  n in numbers  ] )

# sum all

print()

sum( n
   for numbers in matrix
   for n in numbers )

[[1, 2, 3], [4, 5, 6]]

[1, 2, 3, 4, 5, 6]

21

In [16]:
# 2 sum all together

all_together =  ([1, 2], (3, 4), "hello")


all_together =  ( item
        for iterable in all_together 
        for item in iterable )
    
list( all_together )

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

In [22]:
# 3 Interleave


nums = [ 1,2,3,4,5]
iter_2 =  list( ( n**2 for n in nums ) )

print( [ pair
 for pair in zip( nums, iter_2  )]  )

print()


interleave = ( item
                 for pair in zip( nums, iter_2 )
             for item in pair )

list(interleave)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

### 3. Is Prime

In [45]:

def is_prime( candidate ):
    for n in range( 2, candidate // 2 ):
        if candidate % n == 0:
            return False
        return True

In [46]:
is_prime(111)

True

In [51]:
# using any and all

candidate = 5 

# using any 

not any([ candidate % n == 0 for n in range(2, candidate )])

True

In [52]:
# using all

all( [ candidate % n != 0  for n in range(2, candidate ) ] )

True

## Generator Functions

### get unique elements

In [54]:

lists = [ 1,2,1,3,3,5]

def unique(ele):
    # using lists
    seen_items = set()
    for item in ele:
        if item not in seen_items:
            seen_items.add(item)
    return seen_items


unique( lists )

{1, 2, 3, 5}

In [64]:
def unique_gen(ele):
    seen_items = set()
    for item in ele:
        if item not in seen_items:
            yield item # this returns lists
            seen_items.add(item)
    #yield seen_items  # this returns dict

In [65]:
list( unique_gen( lists ) )

[1, 2, 3, 5]

### Float range: works as range but which accepts floats.

In [69]:
start = 2.5
stop = 5

In [74]:
def float_range(start,stop, step=1):
    
    result = []
    
    i = start
    while i < stop:
        i = i + step
        result.append(i)
        
    return result

In [75]:
float_range( start, stop)

[3.5, 4.5, 5.5]

In [76]:
def float_range_gen(stat, stop, step=1 ):
    i = start
    while i < stop:
        yield i
        i = i + step

In [80]:
list( float_range_gen( start, stop, ) )

[2.5, 3.5, 4.5]

In [81]:
list( float_range_gen( start, stop, step=0.5  ) )

[2.5, 3.0, 3.5, 4.0, 4.5]

### head function

In [89]:
lists = [ 1,2,3,4,5,6,7,8]
n = 3

# Method 1: print first 3 elements 
for item,i in zip( lists, range(n) ):
    print(item,i)

1 0
2 1
3 2

In [92]:

def head_gen( iterable, n):
    for item,_ in zip( iterable, range(n) ):
        yield item
        
# main     
list( head_gen( lists, n=4 ) )

[1, 2, 3, 4]

In [94]:

# method 2

def head_gen( iterable, n):
    for count, item in enumerate(iterable):
        if count >= n:
            break
            
        yield item
        
list( head_gen( lists, 3))

[1, 2, 3]

### Interleave elements

In [98]:
list_1 = [  1,2,3,4,5 ]
list_2 = [ 6,7,8,9,10 ]


for i,j in zip( list_1, list_2 ):
    print(i,j, end='\t') ## append to results

1 6	2 7	3 8	4 9	5 10

In [103]:

def interleave( iterable_1, iterable_2 ):
    for iterable in zip( iterable_1, iterable_2):
        for item in iterable:  # replace for loop to yeld from items
            yield item
            
            
list( interleave( list_1, list_2) )

[1, 6, 2, 7, 3, 8, 4, 9, 5, 10]

In [108]:


def fun(l1, l2):
    yield from l1
    yield from l2
    
    
list( fun( list_1, list_2) )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### pairwise

In [121]:

lists = [ 1,2,3]

def pairwase( elements ):
    result = []
    
    prev, current = None, None
    
    for current in elements:
        if prev:
            result.append( (prev, current) )
        prev = current
        
    # at final element
    if current:
        result.append( ( current, None ))
        
    return result

In [122]:
pairwase( lists )

[(1, 2), (2, 3), (3, None)]

In [123]:
def pairwase_gen( elements ):
    
    prev, current = None, None
    
    for current in elements:
        if prev:
            yield prev, current
        prev = current
        
    if current:
        yield current,None

In [125]:
list( pairwase_gen( lists ) )

[(1, 2), (2, 3), (3, None)]

## Around: contains prev, current and next elements

In [127]:

def around( elements ):
    prev, current = None, None
    
    for next_item in elements:
        if current:
            yield prev, current, next_item
        prev, current = current, next_item
        
    if current:
        yield prev, current, None
      
# main

list( around( lists))

[(None, 1, 2), (1, 2, 3), (2, 3, None)]

### Deep Flatten: flattens nested iterables.

In [130]:

lists = [ [1], [ 2,[3] ], [4] ]


for i in lists:
    print(i)

[1]
[2, [3]]
[4]

In [140]:
from pandas.core.common import flatten


list(flatten(lists ))

[1, 2, 3, 4]

In [147]:

from collections import Iterable 

def flatten(items):
    """Yield items from any nested iterable;"""
    for x in items:
        if isinstance(x, Iterable) and not isinstance(x, (str, bytes)):
            for sub_x in flatten(x):
                yield sub_x 
        else:
            yield x

In [148]:
list( flatten( lists ))

[1, 2, 3, 4]

In [149]:

def deep_flatten(thing):
    
    try:
        for item in thing:
            yield from deep_flatten(item)
    except TypeError:
        yield thing
        
list( deep_flatten( lists ))

[1, 2, 3, 4]

### Prime numbers

In [150]:

def is_prime( candidate):
    for n in range(2,candidate):
        if candidate % n == 0:
            return False
    return True

is_prime( 5)

True

### min and max in the lists

In [151]:

def minmax( iterable ):
    ''' return min and max values from iterable. '''
    
    iterator = iter(iterable)
    
    try:
        minimum = maximum = next(iterator)
    except StopItertion as e:
        raise ValueError("Iterable empty") from e
        
    for item in iterator:
        if item < minimum:
            minimum = item
        
        if maximum < item:
            maximum = item
            
    return ( minimum, maximum )

In [154]:

minmax( [1,2,3,4,5, -1] )

(-1, 5)

## Itertools exercises

In [156]:
from itertools import islice

# islice( iterable,n): works as head functions

def head( iterable, n):
    return islice( iterable, n )


list( head( [ 1,2,3,4,5], 2) )

[1, 2]

In [162]:
# Chain: works as altogether 

from itertools import chain

def all_together( *iterables ):
    return chain.from_iterable( iterables )


print( list( all_together( [1,2], (3,4)  ) ) )

print( list( all_together( [1,2], (3,4), "Hello" )))

[1, 2, 3, 4]
[1, 2, 3, 4, 'H', 'e', 'l', 'l', 'o']

In [165]:
# Total Length:  total length of all given iterables.

from itertools import chain

def total_length( *iterables ):
    return len( (list( chain.from_iterable(iterables) )))


print( total_length([1,2,3])  )

print( total_length( [1,2,3], [4], iter([ 6,7] )))

3
6

In [168]:
# dropwhile: works as lstrip() which strip the beginning of the iterable.

from itertools import dropwhile

def lstrip( iterable, strip_value ):
    
    def is_strip_value(value):
        return value == strip_value
    
    return dropwhile( is_strip_value, iterable )


print( list( lstrip([0,0,0,1,0,3,0], 0 )) )
print( ''.join( lstrip( 'hhello there', 'h' )))

[1, 0, 3, 0]
ello there